body {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

    
}

.container{
    min-height: 100vh;
    background: linear-gradient(135deg,  #153677, #4e085f);
    padding: 10px;

}


.header{
    background-color: white;
    
    max-width: 540px;
    margin: 100px auto 20px;
    border-radius: 10px;
    padding: 20px ;


}

.header h1{
    margin-top: 5px;
    
    padding: 10px;
    align-items: center;

}

.header img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    flex-direction: column;
    
    
    border-radius: 30px;


}
.input-add{
  display: flex;
  flex-direction: row;
  background-color: transparent;

}
.input-task{
    width:70%;
    outline: none;
    border: none;
    background:aliceblue;
    padding: 10px;
    overflow: hidden;
    ;
}

button{
    width: 15%;
    background-color: #ff5945;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    padding: 7px;
    margin-right: 30px;
}

button:hover{

}

.select-group{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    cursor: pointer;
    
}

select{
    padding: 5px;
    border-radius: 5px;
    border: thin solid #ff5945;
}
.task-due-date{
    max-width: 30%;
    border: thin solid #ff5945;
    padding: 5px;
    border-radius: 5px;
}

table{
   
    box-shadow: 0px 0px 2px black;
    text-align: left;
    background-color: white;
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;


   

}

thead {
   
    background-color: aliceblue;
    text-transform: uppercase;
}

td{
    padding: 10px;
    
    
}
tr:nth-child(even){
    background-color: aliceblue;
}

th{
    padding: 10px;
}
tr:last-child{
    border-bottom: none;
}

tbody tr{
    border-bottom: 1px solid black;
}